{% extends "base.html" %}
{% load carton_tags %}
{% load imagefit %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="card">
                    {% get_cart as cart %}
                        <div class="card-header">
                            Shopping Cart
                            <span class="badge badge-pill light-blue" style="float:right; margin-top: 4px">{{ cart.total }}</span>
                        </div>
                        <div class="card card-body">
                        {% if cart.total > 0 %}
                            <table border="1">
                                <tr>
                                    <th>Picture</th>
                                    <th>Title</th>
                                    <th>Photographer</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                {% for item in cart.items %}
                                    <tr>
                                        <td><img alt="{{ item.product.title }}" src="{{ item.product.image.url|resize:'80x40' }}"></td>
                                        <td>{{ item.product.title }}</td>
                                        <td>{{ item.product.owner }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.subtotal }}</td>
                                        <td><a style="color: red;" class="nav-link" href="/carts/remove/?id={{ item.product.id }}"><i class="fa fa-remove"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                     <div class="col-lg-6">
                     </div>
                     <div class="col-lg-6">
                     <a class="btn btn-primary" role="button" href="{% url 'carts:clear' %}">Empty</a>
                     <a class="btn btn-success" role="button" href="">Order</a>
                     </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
{% endblock %}

