{% load imagekit %}

<div class="col-lg-3 col-sm-6">
    <div class="card photo-card">
        <img src="{{ photoseries.images.first.watermarked_thumbnail.url }}" alt="{{ photoseries.images.first.title }}">
        <div class="info">
            <div>
                <h4>
                <a href="{% url 'photoseries:view_series' photoseries.id %}">{{ photoseries.title }}</a>
                </h4>
            </div>
            <p><i class="fa fa-picture-o"></i> Number of photos: <font size="4"><span class="badge badge-pill badge-success">{{ photoseries.images.all.count }}</span></font><br/>
            <i class="fa fa-camera-retro"></i> Photographer: {{ photoseries.owner.first_name }} {{ photoseries.owner.last_name }}</p>
        </div>
    </div>
</div>
