{% extends "photos/photographer_required_template.html" %}
{% block photographer_only_content %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1>Do you really want to delete the following series?</h1>
                        </br>
                        <h2><code>title : </code>{{ photoseries.title }} </h2>
                    </br>
                    <small><code>describtion : </code>{{ photoseries.description}}</small>
                </br>
                <small><code>images : </code>{{ photoseries.images.all.count }}</small>
                    </br>

                        <div class="form-group">
                            <div class="col-sm"></br>
                                <button type="submit" class="btn btn-danger">Yes, delete it</button>
                                <a role="button" class="btn btn-info" href="{% url 'view' photoseries.pk %}">No, go back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

