
{% extends "photos/photographer_required_template.html" %}
{% load staticfiles %}

{% block photographer_only_content %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'photoseries/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                {% if object %}
                                <button type="submit" class="btn btn-success">Save</button>
                                <a role="button" class="btn btn-info" href="{% url 'view' object.pk %}">Cancel</a>
                                {% else %}
                                <input type="file" name="images" multiple>
                                <button type="submit" class="btn btn-success">Upload</button>
                                <a role="button" class="btn btn-info cancel-action" href="javascript:window.history.back()" >Cancel</a>
                                {% endif %}
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

