{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Buyer:{{ order.buyer }} Seller:{{ order.seller }} -->
    {% for photo in order.photos.all %}
    <div class="row">
        {% include 'photos/photo-card.html' %}
    </div>
    {% endfor %}
    {% for photoseries in order.photoseries.all %}
    <div class="row">
        {% include 'photoseries/photoseries_thumbinfo.html' %} 
    </div>
    {% endfor %}
    {% if user == order.seller %}
        <br><br>
        <h2>Payment status</h2>
        {% if order.paid %}
            You've marked this order as payed.
        {% else %}
            You haven't marked this order as payed. <a href="{% url 'payOrder' order.id %}">Mark as payed now</a>
        {% endif %}
    {% elif user == order.buyer %}
        <br><br>
        <h2>Download</h2>
        {% if order.paid %}
            {% if order.get_download_links %}
            Your downloads are valid 24 hours. <br/>
                {% for download_link in order.get_download_links %}
                    <a href="{{ download_link }}">Download Photo</a> <br/>
                {% endfor %}
            {% else %}
            Download expired.
            {% endif %}
        {% else %}
            The seller hasn't marked this order as payed, you can't download the photos at this time.
        {% endif %}
    {% endif %}
</div>
{% endblock %}