{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% if request.resolver_match.url_name == 'myOpenOrders' %}
        <h2>Orders which aren't marked as paid</h2>
        {% else %}
        <h2>My orders</h2>
        {% endif %}
        <div class="row">
            {% for order in object_list %}
                <a href="{% url 'viewOrder' order.id %}">Order</a>
            {% endfor %}
        </div>
        {% if orders_as_seller %}
        <h2>Orders others have made</h2>
        <div class="row">
            {% for order in orders_as_seller %}
                <a href="{% url 'viewOrder' order.id %}">Order</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}