{% extends "base.html" %}
{% load carton_tags %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    {% get_cart as cart %}
                        <div class="card-header">
                            Shopping Cart
                            <span class="badge badge-pill light-blue" style="float:right; margin-top: 4px">{{ cart.total }}</span>
                        </div>
                        {% if cart.total > 0 %}
                            <table border="1">
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                {% for item in cart.items %}
                                    <tr>
                                        <td>{{ item.product }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.subtotal }}</td>
                                        <td><a style="color: red;" class="nav-link" href="/shoppingcart/remove/?id={{ item.product.id }}"><i class="fa fa-remove"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        <a class="btn btn-primary" role="button" href="{% url 'shoppingcart:clear' %}">Empty</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

