{% extends "base.html" %} 
{% block content %}

    <div class="row">
        <div class="col col-sm-6">
            <ul id="categoryList" class="list-group">
                {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="rows">
        <div class="col mt-4">
            <form id="categoryForm" action="" method="post" class="form-inline">
                {% csrf_token %}
                {% include 'photo/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
            </form>
        </div>
    </div>

    {% endblock %} 
    
    {% block scripts %}
    {{ block.super }}
    <script src="/static/categoryAjax.js"></script> 
    {% endblock %}