{% extends "base.html" %}
{% load imagefit %}
{% block content %}

    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <img class="card-img-top" src="{{ photo.image.url|resize:'730x490' }}" alt="{{ photo.title }}">
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ photo.title }}</h4>
                    <p>Fotograf: {{ photo.owner.first_name }} {{ photo.owner.last_name }}</p>
                    <p>Preis: {% if photo.price != 0.00 %} {{ photo.price }} € {% else %} nicht gesetzt {% endif %}</p>
                    <p>Beschreibung: {{ photo.description }}</p>
                    <p>Hochgeladen: {{ photo.created }}</p>
                    {% if photo.owner == user %}
                    <p>Zuletzt geändert: {{ photo.last_modified }}</p>
                    <p>Öffentlich sichtbar: {{ photo.public }}</p>
                    <a class="btn btn-primary" role="button" href="{% url 'update' photo.pk %}">Bearbeiten</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
