{% extends "base.html" %}
{% load imagekit %}
{% block content %}

    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <img  src="{{ photo.watermarked_detailview.url }}" alt="{{ photo.title }}">
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ photo.title }}</h4>
                    <p>Photographer: {{ photo.owner.first_name }} {{ photo.owner.last_name }}</p>
                    <p>Uploaded: {{ photo.created }}</p>
                    <p class="muted">Resolution (W x H): {{ photo.image.width }} x {{ photo.image.height }}</p>
                    <p>Size: {{ photo.image.size }} Bytes</p>
                    <p>Description: {{ photo.description }}</p>
                    <p>Categories:
                        {% if photo.categories.all %}
                        <ul>
                            {% for category in photo.categories.all %}
                            <li>{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        None
                        {% endif %}
                    </p>
                    <p>Price: <font size="4"><span class="badge badge-pill badge-success">{% if photo.price != 0.00 %} {{ photo.price }} € {% else %} not set {% endif %}</span></font></p>
                    {% if order %}
                    <p>This is an archived version of a photo from an order: <a role="button" class="button" href="{% url 'viewOrder' order.id %}">Go to order</a></p>
                    {% elif photo.owner == user %}
                    <p>Last updated: {{ photo.last_modified }}</p>
                    <p>Public:{% if photoseries.public %} <i class="fa fa-check"></i> {% else %} <i class="fa fa-close"></i>{% endif %}</p>
                    <a class="btn btn-primary btn-sm" role="button" href="{% url 'photos:update' photo.pk %}">Edit</a>
                    <a class="btn btn-danger btn-sm" role="button" href="{% url 'photos:delete' photo.pk %}">Delete</a>
                    {% elif user.is_authenticated && photo.public %}
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'carts:add' %}?product=photo&id={{ photo.id }}">Buy</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
