{% extends "base.html" %}
{% load imagefit %}
{% block content %}

    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <img class="card-img-top" src="{{ photo.image.url|resize:'730x490' }}" alt="{{ photo.title }}">
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ photo.title }}</h4>
                    <p>Photographer: {{ photo.owner.first_name }} {{ photo.owner.last_name }}</p>
                    <p>Uploaded: {{ photo.created }}</p>
                    <p class="muted">Resolution (W x H): {{ photo.image.width }} x {{ photo.image.height }}</p>
                    <p>Size: {{ photo.image.size }} Bytes</p>
                    <p>Description: {{ photo.description }}</p>
                    <p>Price: {% if photo.price != 0.00 %} {{ photo.price }} € {% else %} not set {% endif %}</p>
                    {% if photo.owner == user %}
                    <p>Last updated: {{ photo.last_modified }}</p>
                    <p>Public: {{ photo.public }}</p>
                    <a class="btn btn-primary btn-sm" role="button" href="{% url 'update' photo.pk %}">Edit</a>
                    <a class="btn btn-danger btn-sm" role="button" href="{% url 'delete' photo.pk %}">Delete</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% if photo.owner != user %}
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'carts:add' %}?id={{ photo.id }}">Buy</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
