{% load staticfiles %}
{% load carton_tags %}
<!doctype html>
<html lang="de">
    <head>
        <title>Django Imageshop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css">
        <link rel="stylesheet" href='{% static "/css/profile.css" %}'/>
        <link rel="stylesheet" href='{% static "/css/photos.css" %}'/>
        <link rel="stylesheet" href='{% static "/css/carts.css" %}'/>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">Image Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'viewAll' %}">Photos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                    {% get_cart as cart %}
                        <a class="nav-link" href="/carts/show">
                            <span class="badge badge-pill cart-badge">{{ cart.items|length }}</span>
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                    {% if user.groups.all.0|stringformat:"s" == "photographer" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownPhotoUpload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Upload</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownPhotoUpload">
                            <a class="dropdown-item" href="{% url 'upload' %}">Photo</a>
                            <a class="dropdown-item" href="#">Photoseries</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownUserProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownUserProfile">
                            <a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
                            {% if user.groups.all.0|stringformat:"s" == "photographer" %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'viewOwn' %}">My photos</a>
                            <a class="dropdown-item" href="#">My photoseries</a>
                            <a class="dropdown-item" href="#">Open purchases</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">   
                        <a class="nav-link" href="{% url 'login_view' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Registration</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
        
        {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/js/mdb.min.js"></script>
        {% endblock %}
    </body>
</html>
