{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if object_list is not None %}
                {% for photo in object_list %}
                    {% include 'photos/photo-card.html' %}
                {% endfor %}
            {% endif %}
            {% if object_list is None %}
                <p>The requested shop does not exist. Please check if the username of the photographer is correct</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
